{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	ITEMFORM
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}
	<form action="" method="POST" class="text-center" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
		<input class="btn btn-success" type="submit" value="CREATE ITEM" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
	</form>
	<br>
	<div class="text-center">
		<a href="{% url 'home' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">HOME</a>
	</div>
{% endblock %}