{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    SIGN UP
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}
	<center>
		<form method="post" action="">
		  {% csrf_token %}

		  	Username: <input type="text" name="username"><br><br>
		  	Email: <input type="email" name="email"><br><br>
		  	Password: <input type="password" name="password1"><br><br>
		  	Password confirmation: <input type="password" name="password2"><br><br>
		  	<input class="btn btn-success" type="submit" value="SIGN UP" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">
		  	{% if form.errors %}
			    {% for field in form %}
			        {% for error in field.errors %}
			        	<br><br>
			            <div class="text-center">
			            	<h4 style="color: red; background-color: #f8d7da; display: inline;">&nbsp;&nbsp;{{ error|escape }}&nbsp;&nbsp;</h4>
			            </div>
			        {% endfor %}
			    {% endfor %}
			    {% for error in form.non_field_errors %}
			    	<br><br>
			        <div class="alert alert-danger">
			            <h4 style="color: red; background-color: #f8d7da; display: inline;">&nbsp;&nbsp;{{ error|escape }}&nbsp;&nbsp;</h4>
			        </div>
			    {% endfor %}
			{% endif %}
		</form>
	</center>
{% endblock %}