{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    ANGULAR
{% endblock %}

{% block content %}
	<center>
		<form ng-submit="testAngularAdd()">
			<input type="text" name="" ng-model="testAngularInput" placeholder="Add a new item."><br><br>
			<input type="submit" name="Submit" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">
		</form>
		<br><br>
		<div ng-repeat="tests in testAngularList">
			<input type="checkbox" name="" ng-model="tests.done">
			<span ng-bind="tests.testAngularText"></span>
		</div>
		<br><br><br>
		<p>
			<button ng-click="remove()" type="" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px";>Done</button>
		</p>
	</center>
{% endblock %}

{% block script %}
	<script src="{% static 'angular/js/angular.min.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'angular/js/custom.js' %}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}