{% extends 'core/base.html' %}
{% load static %}

{% block title %}

ANGULAR-IMAGES

{% endblock %}

{% block content %}
{% for ima in images %}
<div class="row text-center">
    <div class="column col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <center>
            
                <img src="{{ima.images_url}}" alt="" style="width: 600px; height: 400px;">
            
        </center>   
    </div>
    <div class="column col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <form ng-submit="testAngularAddSubject()">

            <div class="text-left">
                <h5 style="margin-left: 41%">SUBJECT</h5><br>
                
                
                {% for test in testing %}                                                   
                    <input style="margin-left: 41%" type="radio" ng-model="item.test" value="{{test.testing_id}}">
                    <label style="margin-left: 5%">{{test}}</label><br>
                {% endfor %} 
                <p ng-bind-html = "Message"></p>
            </div>   
            <br><br>
            <button ng-click="saveSubject()" type="submit" class="btn btn-success" style="background: rgba(40, 167, 69, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">ADD</button>            
        </form>

<script> 
    var imageId = {{ima.images_id}};
</script>
    </div>
</div>
{% endfor %}
<br><br><br>

 <!-- Paginator -->
        <div class="text-center">  

            {% if page_obj.has_previous %} <!-- If there's a previous page. -->  
                <a href="?page=1">
                    <div class="btn btn-warning" style="color: white; background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
                        FIRST
                    </div>
                </a>  
            {% endif %} 
            &nbsp; 
            {% for num in page_obj.paginator.page_range %}  
                {% if page_obj.number == num %}  
                    
                    <div class="btn btn-warning" style="color: white; background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
                        {{ num }}
                    </div>            
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
                    <a href="?page={{ num }}">
                        <div class="btn btn-warning" style="color: white; background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
                            {{ num }}
                        </div>
                    </a>  
                {% endif %}  
            {% endfor %}  
            &nbsp;
            {% if page_obj.has_next %}  
                <a href="?page={{ page_obj.paginator.num_pages }}">
                    <div class="btn btn-warning" style="color: white; background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
                        LAST
                    </div>
                </a>  
                <div class="btn btn-warning" style="color: white; background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 150px;">
                    {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                </div>
            {% endif %}
        </div> <!-- Paginator -->  
{% endblock %}