{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	COLORSLIST
{% endblock%}

{% block content %}
	<div class="text-center">
		<br>
		{% for color in colors %}
			<h3>{{color.color_name}}</h3>
			<br>
	</div>
	<div class="text-center">
	    <span class="step-links">
	    	<br>
	        {% if page_obj.has_previous %}
	            <a href="?page=1" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">&laquo; first</a>
	            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">previous</a>
	        {% endif %}
	        <span class="current">
	            <button class="btn btn-success">{{page_obj.number}}/{{page_obj.paginator.num_pages}}</button>
	        </span>
	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">next</a>
	            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
	<div class="text-center">
		<br><br><br><br>
		<a href="{% url 'home' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">HOME</a>
		<a href="{% url 'colorsdetail' color.color_id %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">DETAIL</a>
		{% endfor %}
	</div>
{% endblock %}