{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	COLORSDETAIL
{% endblock %}

{% block body %}
<body>
{% endblock %}

{% block content %}
	<div class="text-center">
		<h3>{{colors}}</h3>
		<br><br>
	</div>
	<div class="text-center">
		<br><br><br><br>
		<a href="{% url 'home' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">HOME</a>
		<a href="{% url 'colorsupdate' colors.color_id %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">UPDATE</a>
		<a href="{% url 'colorsdelete' colors.color_id %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">DELETE</a>
	</div>
{% endblock %}