{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	DJANGO
{% endblock%}

{% block content %}
	<div class="text-center">
		<h3>Testing and increasing knowledge</h3>
		<br><br><br><br>
		<a href="{% url 'colors' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">COLORS</a>
		<br><br>
		<a href="{% url 'colorslist' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">LIST</a>
		<br><br>		
		<a href="{% url 'colorsdetail' color.color_id %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">DETAIL</a>
		<br><br>		
		<a href="{% url 'colorsform' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">FORM</a>
		<br><br>		
		<a href="{% url 'colorscreate' %}" class="btn btn-success" style="background: rgba(10, 82, 97, 1); border-color: rgba(77, 176, 193, 1); width: 100px;">CREATE</a>
	</div>
{% endblock %}